@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force Inter Tight globally */
* {
  font-family: 'Inter Tight', sans-serif !important;
}

body {
  font-family: 'Inter Tight', sans-serif;
  letter-spacing: -0.02em; /* Inter tight ka signature look */
}

:root {
  --color-white: #f8f9fa;
  --color-blue: #004e72;
  --color-navy: #092834;
  --color-orange: #FF5A00;
}

/* 
colors: {
        white: "var(--color-white)",
        blue: "var(--color-blue)",
        navy: "var(--color-navy)",
        orange: "var(--color-orange)",
      }, */

body {
  color: var(--color-navy);
  background-color: var(--color-white);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}